{% extends 'menu/base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <h1 class="mb-5  mt-3">
        Book Reviews
    </h1>
    <div class="col">
        <div>
            {% for obj in bookReviews %}
            <div class="mb-5 border" style="width: 70rem;">                <div class="card-body">
                  <h4 class="card-title">{{obj.title}}</h4>
                  <h6 class="card-title">Author: {{obj.author}}</h6>
                  <p class="card-text">{{obj.review}}</p>
                  <a href="{% url 'deletereview' obj.id %}" class="btn btn-danger">Delete</a>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <a href="review" class="btn btn-success btn-lg active" role="button" aria-pressed="true">
            <h3>Write Review</h3>
        </a>
    </div>
</div>

{% endblock content %}